# House Sales Analysis for House Hocket

 ## 0.0 Business Problem

#### A House Rocket é uma plataforma digital que tem como modelo de negócio, a compra e a venda de imóveis usando tecnologia.

#### O CEO da House Rocket gostaria de maximizar a receita da empresa encontrando boas oportunidades de negócio.

#### Sua principal estratégia é comprar boas casas em ótimas localizações com preços baixos e depois revendê-las posteriormente à preços mais altos. Quanto maior a diferença entre a compra e a venda, maior o lucro da empresa e portanto maior sua receita.

#### Entretanto, as casas possuem muitos atributos que as tornam mais ou menos atrativas aos compradores e vendedores e a localização e o período do ano também podem influenciar os preços.

#### Portanto, seu trabalho como Data Scientist é responder as seguinte perguntas:

- Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra?
- Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda?
- A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?

### 0.1 Dataset Features 

- id :a notation for a house

- date: Date house was sold

- price: Price is prediction target

- bedrooms: Number of Bedrooms/House

- bathrooms: Number of bathrooms/bedrooms

- sqft_living: square footage of the home

- sqft_lot: square footage of the lot

- floors :Total floors (levels) in house

- waterfront :House which has a view to a waterfront

- view: Has been viewed

- condition :How good the condition is Overall

- grade: overall grade given to the housing unit, based on King County grading system

- sqft_above :square footage of house apart from basement

- sqft_basement: square footage of the basement

- yr_built :Built Year

- yr_renovated :Year when house was renovated

- ipcode:zip code

- lat: Latitude coordinate

- long: Longitude coordinate

- sqft_living15 :Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area

- sqft_lot15 :lotSize area in 2015(implies-- some renovations)

### 0.2 Imports

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

from IPython.display       import Image
from IPython.core.display  import HTML

### 0.3 Helper Functions

In [22]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:70% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
    
def get_summary(numerical_attributes):
    
    # Central Tendency - mean, meadina 
    ct1 = pd.DataFrame( numerical_attributes.apply( np.mean ) ).T
    ct2 = pd.DataFrame( numerical_attributes.apply( np.median ) ).T

    # dispersion - std, min, max, range, skew, kurtosis
    d1 = pd.DataFrame( numerical_attributes.apply( np.std ) ).T 
    d2 = pd.DataFrame( numerical_attributes.apply( min ) ).T 
    d3 = pd.DataFrame( numerical_attributes.apply( max ) ).T 
    d4 = pd.DataFrame( numerical_attributes.apply( lambda x: x.max() - x.min() ) ).T 
    d5 = pd.DataFrame( numerical_attributes.apply( lambda x: x.skew() ) ).T 
    d6 = pd.DataFrame( numerical_attributes.apply( lambda x: x.kurtosis() ) ).T 

    # concatenar
    m = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
    m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
    
    return m

In [23]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

### 0.4 Load Data

In [24]:
df = pd.read_csv('data/kc_house_data.csv')

## 1.0 Describe Data

In [48]:
df1 = df.copy()

In [49]:
df1.head(10)

           id             date      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000   221900.0         3       1.00         1180      5650     1.0           0     0          3      7        1180              0      1955             0    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000   538000.0         3       2.25         2570      7242     2.0           0     0          3      7        2170            400      1951          1991    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000   180000.0         2       1.00          770     10000     1.0           0     0          3      6         770              0      1933             0    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000   604000.0         4       3.00         1960      5000     1.0           0     0          5      7        1050            910      1965             0    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000   510000.0         3       2.00         1680      8080     1.0           0     0          3      8        1680              0      1987             0    98074  47.6168 -122.045           1800        7503
5  7237550310  20140512T000000  1225000.0         4       4.50         5420    101930     1.0           0     0          3     11        3890           1530      2001             0    98053  47.6561 -122.005           4760      101930
6  1321400060  20140627T000000   257500.0         3       2.25         1715      6819     2.0           0     0          3      7        1715              0      1995             0    98003  47.3097 -122.327           2238        6819
7  2008000270  20150115T000000   291850.0         3       1.50         1060      9711     1.0           0     0          3      7        1060              0      1963             0    98198  47.4095 -122.315           1650        9711
8  2414600126  20150415T000000   229500.0         3       1.00         1780      7470     1.0           0     0          3      7        1050            730      1960             0    98146  47.5123 -122.337           1780        8113
9  3793500160  20150312T000000   323000.0         3       2.50         1890      6560     2.0           0     0          3      7        1890              0      2003             0    98038  47.3684 -122.031           2390        7570

In [50]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 21613
Number of Cols: 21

In [51]:
missing_data = df1.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

id
False    21613
Name: id, dtype: int64

date
False    21613
Name: date, dtype: int64

price
False    21613
Name: price, dtype: int64

bedrooms
False    21613
Name: bedrooms, dtype: int64

bathrooms
False    21613
Name: bathrooms, dtype: int64

sqft_living
False    21613
Name: sqft_living, dtype: int64

sqft_lot
False    21613
Name: sqft_lot, dtype: int64

floors
False    21613
Name: floors, dtype: int64

waterfront
False    21613
Name: waterfront, dtype: int64

view
False    21613
Name: view, dtype: int64

condition
False    21613
Name: condition, dtype: int64

grade
False    21613
Name: grade, dtype: int64

sqft_above
False    21613
Name: sqft_above, dtype: int64

sqft_basement
False    21613
Name: sqft_basement, dtype: int64

yr_built
False    21613
Name: yr_built, dtype: int64

yr_renovated
False    21613
Name: yr_renovated, dtype: int64

zipcode
False    21613
Name: zipcode, dtype: int64

lat
False    21613
Name: lat, dtype: int64

long
False    21613
Name: long, dtype: int64

sqft_living15
False    21613
Name: sqft_living15, dtype: int64

sqft_lot15
False    21613
Name: sqft_lot15, dtype: int64

In [52]:
df_aux = df1.drop(['id','date','lat','long'], axis='columns')
num_attributes = df_aux.select_dtypes( include=['int64', 'float64'] )

In [55]:
get_summary(num_attributes)

       attributes      min        max      range           mean     median            std       skew    kurtosis
0           price  75000.0  7700000.0  7625000.0  540088.141767  450000.00  367118.703181   4.024069   34.585540
1        bedrooms      0.0       33.0       33.0       3.370842       3.00       0.930040   1.974300   49.063653
2       bathrooms      0.0        8.0        8.0       2.114757       2.25       0.770145   0.511108    1.279902
3     sqft_living    290.0    13540.0    13250.0    2079.899736    1910.00     918.419649   1.471555    5.243093
4        sqft_lot    520.0  1651359.0  1650839.0   15106.967566    7618.00   41419.553273  13.060019  285.077820
5          floors      1.0        3.5        2.5       1.494309       1.50       0.539976   0.616177   -0.484723
6      waterfront      0.0        1.0        1.0       0.007542       0.00       0.086515  11.385108  127.632494
7            view      0.0        4.0        4.0       0.234303       0.00       0.766300   3.395750   10.893022
8       condition      1.0        5.0        4.0       3.409430       3.00       0.650728   1.032805    0.525764
9           grade      1.0       13.0       12.0       7.656873       7.00       1.175432   0.771103    1.190932
10     sqft_above    290.0     9410.0     9120.0    1788.390691    1560.00     828.071820   1.446664    3.402304
11  sqft_basement      0.0     4820.0     4820.0     291.509045       0.00     442.564804   1.577965    2.715574
12       yr_built   1900.0     2015.0      115.0    1971.005136    1975.00      29.372731  -0.469805   -0.657408
13   yr_renovated      0.0     2015.0     2015.0      84.402258       0.00     401.669947   4.549493   18.701152
14        zipcode  98001.0    98199.0      198.0   98077.939805   98065.00      53.503788   0.405661   -0.853479
15  sqft_living15    399.0     6210.0     5811.0    1986.552492    1840.00     685.375448   1.108181    1.597096
16     sqft_lot15    651.0   871200.0   870549.0   12768.455652    7620.00   27303.547963   9.506743  150.763110